.idea
*.pyc
**/outputs/**
**/log*.txt
*.sl
**/.ipynb_checkpoints/
**/*.ipynb
**/plot_model/*.tex
**/*.pdf
**/*.aux
**/*.log
**.png
**.mp4
**egg-info**
**.gif
**.tar.gz
dist/
build/
Datasets/*
**/dataset_features
**/OCR/OutputDropout/**
*.0
**/visualization
**.pt
**.pkl
